@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text_center">Welcome</h1>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register"/>
        </div>
        <div class="col-md">
            <partial name="_Login"/>
        </div>
    </div>
</div>
